@{
    ViewBag.Title = "Ang";
}

<script src="~/apps/scorecard/app.js"></script>

<div ng-app="scApp" >
    <div ng-controller="myC">
   <div>{{currentSlide}}</div>
    <ng-view></ng-view>
        </div>
</div>
