@{
    ViewBag.Title = "Index";
}

@*//put the Texas Round Map here - and then surround it with whichever visuals to use?

//preK gaps
//literacy_heatmap*@
<script src="~/Scripts/d3.min.js"></script>
<style type="text/css">
    svg {
        //border: 1px solid #dddddd;
        //margin:0 auto;
        width:500px;
        //margin-left:800px;
    }
    body
    {
        background:#041424;
    }
    #map
    {
        width:500px;
        margin:0 auto;
        //margin-top:200px;
    }
</style>

<body>
    <div id="map"></div>
<script type="text/javascript">
    var svgPath = "../../images/SVGs/CountyMap.svg";

    d3.xml(svgPath, "image/svg+xml", function (xml) {
        var doccer = document.getElementById("map");
        doccer.appendChild(xml.documentElement);
        //document.body.appendChild(xml.documentElement);
        $('#map').css('margin-top', '200px');
        visualize();
     
    });

    function visualize() {

        //var svgContainer = d3.select("body").append("svg")

        var svg = d3.select("svg");


  
            svg.selectAll("path")
               .each(function(d, i) { 
                   d3.select(this)
                       .transition()
                       .duration(i*17)
                       .style("fill","red")       
                }); 
  


            
    }

    



</script>


</body>