@{
    ViewBag.Title = "SignIn";
}

<style>
    body {
        background: #041424;
    }

    form {
        height: 100px;
        width: 300px;
        margin: 0 auto;
    }

    h2 {
        height: 100px;
        width: 300px;
        margin: 0 auto;
        color: white;
    }
</style>

@*<h2>Protected Sign In</h2>*@

@using (Html.BeginForm())
{ 
    <input type="hidden" name="returnUrl" id="url" value="@ViewBag.ReturnUrl"/>
    <input type="text" name="pwd" id="pwd" placeholder="password..." /> <input type="submit" value="Sign in" />
}


<script>

    $('form').css('margin-top', (window.innerHeight / 2) - 150);

</script>
