    body
    {
        //background:beige;
        margin:0px;
        padding:0px;
    }
    li
    {
        list-style:none;
        text-align:center;
        font-family:Calibri;
    }
    li:hover{
        color:white;
        background:navy;
        //text-decoration:underline;
        cursor:default;
    }
    #districtWrapper
    {
        width:15%;
        float:left; 
        
        //height:800px;
    }
    #districtSelector
    {
        overflow-y: scroll;
    }
    #variableSelector
    {
        overflow-y: scroll;
    }
    #variableWrapper
    {
        width:25%;
        float:left;
    }
    #category
    {
        width:100%;
    }
    #districtTexter
    {
        //width:100%;
    }
    #variableTexter
    {
        //width:100%;
        margin:0px;
        padding:0px;
    }
    #example
    {
        float:left;
        width:60%;
    }